#credForm{
    padding-left: 45%;
    margin-top: 100px;
    font-family: 'Courier New', Courier, monospace;
}
#credBtn{
    margin-left: 80px;
}
#acntBtns{
    font-size: large;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#credBtn:hover, #signBtn:hover{
    background-color: #3b3b3b;
}

