<!DOCTYPE html>
<html>
  <head>
    <!-- head definitions go here -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <style>
      #loginForm, #signupForm{
          padding-left: 45%;
          margin-top: 100px;
          font-family: 'Courier New', Courier, monospace;
      }
      #credBtn{
          margin-left: 80px;
      }
      #signBtn, #credBtn, #acntBtn{
          font-size: large;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 5px;
          padding-bottom: 5px;
      }    
    </style>
  </head>
  <body>
      <div id="loginForm">
        <p >Sign into your account.</p>
        <form action="/check_creds" method="post" >
          <label for="username" id="creds">Username:</label>
          <input type="text" id="user" name="username"><br><br>
          <label for="password" id="creds">Password:</label>
          <input type="password" id="pwd" name="password"><br><br>
          <button type="submit" id="signBtn" formaction = "/get_signup">Sign Up</button>
          <button type="submit" id="credBtn">Login</button>
        </form>
      </div>       
  </body>
</html>
