<!DOCTYPE html>
<html>
    <head>
        <!-- head definitions go here -->
    </head>
    <body>	
        <div class="ui-grid-a">
            <div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:60px">Block A</div></div>
            <div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:60px">Block B</div></div>
        </div><!-- /grid-a -->    
        <div class="ui-grid-a">
            <div class="ui-block-a"><img width="250px" height="450px" src="https://red-lepanka-images.s3.amazonaws.com/1629591299654.png"/></div>
            <div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:60px">{{bookname}}</div></div>
            <div class="ui-block-b">
                <div class="ui-bar ui-bar-a" style="height:60px">{{price}}</div>
                <button type="button" class="inner" id="buy_button">Add to Cart &#128722</button>
            </div>
        </div><!-- /grid-a -->
    </body>
</html>
