<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    </head>
    <body>	
        <div class="ui-grid-a">
            <div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:60px">Block A</div></div>
            <div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:60px">Block B</div></div>
        </div><!-- /grid-a -->    
        <div class="ui-grid-a">
            <div class="ui-block-a"><img width="250px" height="450px" src="https://red-lepanka-images.s3.amazonaws.com/1629591299654.png"/></div>
            <div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:60px">{{bookname}}</div></div>
            <div class="ui-block-b">
                <div class="ui-bar ui-bar-a" style="height:60px">{{price}}</div>
                <button type="button" class="inner" id="buy_button">Add to Cart &#128722</button>
            </div>
        </div><!-- /grid-a -->
    </body>
</html>
