<!DOCTYPE html>
<html>
    <head>
        <!-- head definitions go here -->
	 <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    </head>
    <body>
        <form action="/ss1" method="get">
            <button name="shapeBtn" type="submit">Create Shape</button>
        </form>

        <div style="background-color:rgb({{rValue}}, {{gValue}}, {{bValue}}); 
                    height:{{my_height}}px; 
                    width:{{my_width}}px;
                    margin-left:45%;
                    margin-top:10%; 
                    border-radius:{{radius}}%"></div>
    </body>
</html>
