<!DOCTYPE html>
<html>
    <head>
        <!-- head definitions go here -->
    </head>
    <body>
        <form action="/ss1" method="get">
            <button name="shapeBtn" type="submit">Create Shape</button>
        </form>

        <div style="background-color:rgb({{rValue}}, {{gValue}}, {{bValue}}); 
                    height:{{my_int}}px; 
                    width:{{my_int}}px;
                    margin-left:45%;
                    margin-top:10%; 
                    border-radius:{{radius}}%"></div>
    </body>
</html>
